.awcdp-deposits-wrapper{

  .awcdp-deposits-option{
    background: #fff;
    border-radius: 7px;
    width: 290px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

      .awcdp-radio {
        padding: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        input[type="radio"] {
          position: absolute;
          opacity: 0;
          + .awcdp-radio-label {
            cursor: pointer;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            &:before {
              content: '';
              background: #fff;
              border-radius: 100%;
              border: 1px solid darken(#fff, 25%);
              display: inline-block;
              width: 20px;
              height: 20px;
              position: relative;
              top: -0.2em;
              margin-right: 1em;
              vertical-align: bottom;
              cursor: pointer;
              text-align: center;
              transition: all 250ms ease;
            }
          }
          &:checked {
            + .awcdp-radio-label {
              &:before {
                background-color: #2F80ED;
                box-shadow: inset 0 0 0 4px #fff;
              }
            }
          }
          &:focus {
            + .awcdp-radio-label {
              &:before {
                outline: none;
                border-color: #2F80ED;
              }
            }
          }
          &:disabled {
            + .awcdp-radio-label {
              &:before {
                box-shadow: inset 0 0 0 4px #fff;
                border-color: darken(#fff, 25%);
                background: darken(#fff, 25%);
              }
            }
          }
          + .awcdp-radio-label {
            &:empty {
              &:before {
                margin-right: 0;
              }
            }
          }
        }

        .awcdp-deposits-description{
          margin-left: 45px;
          font-size: 13px;
          line-height: 15px;
          color: #E48128;
          font-weight: 400;
          margin-top: 3px;
          #awcdp-deposit-amount{
            font-weight: bold;
          }
        }
      }
      .pay-deposit.awcdp-radio{
        background: rgba(51, 51, 51, 0.02);
      }
      }
}
